@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-[#020617] text-slate-100 antialiased font-sans;
  background-image:
    radial-gradient(at 0% 0%, rgba(15, 23, 42, 0.5) 0, transparent 50%),
    radial-gradient(at 100% 100%, rgba(30, 58, 138, 0.1) 0, transparent 50%);
  background-attachment: fixed;
}


.glass-card {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 rounded-xl shadow-2xl;
}

.neon-text {
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}